body {
  --bg-color: #fff;
  --main: #2a226a;
  --color2: #0f6eff;
  --text1: #222;
  --text2: #b8b8b8;
  --text3: #f0f0f0;
  --title: 28.8px;
  --sub-title: 20px;
  --border-color: #c8c7cc;
  --content-background-color: #fafafa;
}
